{% include 'components/header.html' with title='Projetos DITEC' %}
{% load static %}
<body class="d-flex flex-column" style="height: 100vh; margin: 0;">
    {% comment %} {% include 'components/navbar.html' %} {% endcomment %}
    {% include 'components/sidebar.html' %}
    <div class="container flex-grow-1 d-flex flex-column justify-content-start">

    </div>

    {% comment %} {% include 'components/footer.html' %} {% endcomment %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
</body>
</html>
