/* Configurações iniciais de corpo e fundo */
html, body {
  height: 100%;
  margin: 0; /* Remove margens padrão do navegador */
  background-color: #fAfAfA; /* Cor de fundo */
}

body {
  display: flex;
  flex-direction: column;
}

/* Estilos personalizados para o menu e footer */
.navbar, footer {
  background-color: #3F4340 !important; /* Cor do fundo */
  padding: 2rem 0; /* Aumenta a altura da barra de navegação */
}

.nav-link {
  font-weight: 500; /* Aumenta a espessura da fonte */
  color: white; /* Cor do texto */
  transition: color 0.3s; /* Transição suave para a cor */
}

.nav-link:hover {
  color: #f8f9fa; /* Cor do texto ao passar o mouse */
  text-decoration: underline; /* Sublinha o texto ao passar o mouse */
  cursor: pointer;
}


.content {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 20px;
    height: calc(100vh - 180px);
    overflow-y: auto;
    scrollbar-width: none;
}
/* Estilos do footer */
footer {
  padding: 10px 0; /* Ajuste o padding conforme necessário */
  background-color: #9811AD; /* Cor de fundo */
  color: white;
  text-align: center;
}

.footer-text {
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para o box */
.container {
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 25px;
}

.container h4 {
  margin-bottom: -10px;
  margin-top: -8px;
}

