  <!-- Sidebar for navigation -->
  <div class="sidebar">
    <div class="logo-details">
      <!-- Icon and logo name -->
      
      <div class="logo_name">Finanças Ladislau</div>
      <i class='bx bx-menu' id="btn"></i> <!-- Menu button to toggle sidebar -->
    </div>
    <ul class="nav-list">

      <li>
        <a href="/">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-log-in'></i>
          <span class="links_name">Adicionar entrada</span>
        </a>
        <span class="tooltip">Adicionar entrada</span>
      </li>
 
      <li>
        <a href="adicionar_saida">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Adicionar Saida</span>
        </a>
        <span class="tooltip">Adicionar Saida</span>
      </li>
      
      <li>
        <a href="#">
          <i class='bx bx-wallet'></i>
          <span class="links_name">Adiconar conta</span>
        </a>
        <span class="tooltip">Adiconar conta</span>
      </li>
      
      <li>
        <a href="adicionar_categoria">
          <i class='bx bx-folder-plus'></i>
          <span class="links_name">Adiconar Categoria</span>
        </a>
        <span class="tooltip">Adiconar Categoria</span>
      </li>
      <li>
        <a href="adicionar_pessoa">
          <i class='bx bx-user-plus'></i>
          <span class="links_name">Adicionar Pessoa</span>
        </a>
        <span class="tooltip">Adicionar Pessoa</span>
      </li>
      
    </ul>
  </div>

